@import "./webfontki/stylesheet.css";
/* Potential Add ons: border-image: url("https://media1.giphy.com/media/QuxqWk7m9ffxyfoa0a/giphy.gif");*/
/* .borderimg {
border: 10px solid ;
    padding: 15px;
    border-image: url("https://media1.giphy.com/media/QuxqWk7m9ffxyfoa0a/giphy.gif") 30 round;
    /* border-image: url("https://media1.giphy.com/media/QuxqWk7m9ffxyfoa0a/giphy.gif") 30 stretch; */
.test{
    font-family: "pumpkin_maniabold", Arial, sans-serif;
    font-size: 100px;
    display: inline;
    color: rgb(217, 255, 0);
    
}

body {
    background-image: url("https://bestanimations.com/media/skeletons/1985849293skeleton-animated-gif-9.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    /* background-position: center; */
    
}

.image-box {
    /* Here's the trick */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-url) ;
    opacity: 0.3;

    /* Here's the same styles we applied to our content-div earlier */
    color: white;
    min-height: 100vh;
    display: flex-wrap;
    
}


/* .test {
    display: url("https: //www.vhv.rs/dpng/d/427-4275153_bloody-hand-print-png-png-download-blood-hand.png");

} */



/* For demo only */
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
}
/* Below is cursor: */
html {
    cursor: wait;
}

#follower {
    position: absolute;
    top: 50%;
    left: 50%;
}

#follower #circle1 {
    position: absolute;
    -webkit-animation: pulse 2s infinite;
    /* Chrome, Safari, Opera */
    animation: pulse 2s infinite;
    background: #fff;
    border-radius: 50%;
    height: 0em;
    width: 0em;
    margin-top: 0em;
    margin-left: 0em;
}

#follower #circle2 {
    position: absolute;
    -webkit-animation: pulse 4s infinite;
    /* Chrome, Safari, Opera */
    animation: pulse 4s infinite;
    background: rgba(200, 0, 0, 0.8);
    border-radius: 510%;
    height: 0em;
    width: 0em;
    margin-top: 0em;
    margin-left: 0em;
}

@-moz-keyframes pulse {
    0% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }

    50% {
        opacity: 0.9;
        height: 3em;
        width: 3em;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }

    100% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }

    50% {
        opacity: 0.9;
        height: 3em;
        width: 3em;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }

    100% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
}

@-o-keyframes pulse {
    0% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }

    50% {
        opacity: 0.9;
        height: 3em;
        width: 3em;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }

    100% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }

    50% {
        opacity: 0.9;
        height: 3em;
        width: 3em;
        margin-top: -1.5em;
        margin-left: -1.5em;
    }

    100% {
        opacity: 0.2;
        height: 1em;
        width: 1em;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
}
